{% extends 'base.html.twig' %}

{% block title %}{{ name_app }} página general{% endblock %}

{% block scripts %}
    <script>
        window.onload = function () {
            document.getElementById('btnSearch').onclick = function () {
                var contents = document.getElementById('result').getElementsByClassName('container');
                contents[0].style.display = 'none';
                contents[1].style.display = 'inherit';
                contents[2].style.display = 'inherit';
            };
        }
    </script>
    <script>
        var options = {

            url: "{{ path('get_all') }}",

            categories: [{
                listLocation: "ingredients",
                maxNumberOfElements: 4,
                header: "Ingredientes"
            }],

            getValue: function (element) {
                return element.name;
            },

            template: {
                type: "description",
                fields: {
                    description: "quality"
                }
            },

            list: {
                maxNumberOfElements: 8,
                match: {
                    enabled: true
                },
                sort: {
                    enabled: true
                },
                showAnimation: {
                    type: "fade", //normal|slide|fade
                    time: 400,
                    callback: function () {
                    }
                },

                hideAnimation: {
                    type: "slide", //normal|slide|fade
                    time: 400,
                    callback: function () {
                    }
                },
                onChooseEvent: function () {
                    alert("Click !");
                }
            },

            theme: "dark"
        };

        $("#search").easyAutocomplete(options);
    </script>
{% endblock %}

{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ name_app }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item btn-group" role="group">
                        {% if app.user == false %}
                        <a class="btn btn-secondary" href="{{ path('login') }}">Iniciar sesión
                        </a>
                        <a class="btn btn-warning text-white disabled">Registrarse</a>
                        {% else %}
                        {% if app.user.collaborator %}
                    <li class="nav-item">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.firstname }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="{{ path('new_ingredient') }}">Nuevo ingrediente</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesión</a>
                            </div>
                        </div>
                    </li>
                    {% else %}
                        <a class="btn btn-danger text-white" href="{{ path('logout') }}">Cerrar sesión</a>
                    {% endif %}
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white d-flex"
            style="background-image: url('{{ asset('assets/img/header2.jpg') }}')">
        <div class="container my-auto">
            <div class="jumbotron bg-dark">
                <h1 class="display-4">Búsqueda de productos</h1>
                <p class="lead">Introduce el nombre o la marca del producto</p>
                <hr class="my-4">

                <input id="search" class="form-control" type="text" placeholder="Buscar" aria-label="Buscar">

                <hr class="my-4">

                <p class="lead">
                    <a id="btnSearch" class="btn btn-primary btn-lg js-scroll-trigger" href="#result" role="button">Buscar</a>
                </p>
            </div>
        </div>
    </header>

    <section id="result">
        <div class="container" style="display: inherit">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <i class="fa fa-4x fa-angle-double-up text-primary mb-3 sr-icons"></i>
                    <h2 class="section-heading">Primero busca el producto</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container" style="display: none">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Producto encontrado</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container" style="display: none">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-list text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Lista de ingredientes</h3>
                        <ul class="list-group">
                            <li class="list-group-item bg-danger text-white">Ingrediente peligroso</li>
                            <li class="list-group-item bg-success text-white">Ingrediente saludable</li>
                            <li class="list-group-item">Ingrediente normal</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-cubes text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Terrones de azúcar</h3>
                        <p class="text-muted mb-0">Este producto tiene x terrones de azúcar</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-table text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Tablas nutricionales</h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}