{% extends 'base.html.twig' %}

{% block body %}
    <header class="masthead text-center text-white d-flex"
            style="background-image: url('{{ asset('assets/img/header3.jpg') }}')">
        <div class="container my-auto">
            <div class="jumbotron bg-dark">
                <h2 class="display-4">Nuevo {{ item }}</h2>
                <hr>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" name="enviar" class="btn btn-success"><i class="fa fa-check"></i>
                            Guardar los
                            cambios
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </header>
{% endblock %}